html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url(img/ncity.jpg);
    max-height: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Andika !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.icon {
    width: fit-content;
    opacity: 85%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabcontent {
    max-height: 45vh;
}

#overlay {
    height: 45vh;
    width: 100%;
    background-color: #091028;
    opacity: 85%;
    overflow-y: hidden;
}

p, h1, h2, h3, h4, h5, h6, li {
    color: gainsboro !important;
}

#abouttext {
    background-color: #091028;
    box-shadow: 5px 5px 3px #091028;
}

#header, #footer {
    width: 100%;
    background-color: #091028;
    padding: 0;
    height: fit-content;
}

#footer {
    position: fixed;
    bottom: 0;
}

#navbar {
    width: fit-content;
    margin-right: 0;
}

#aboutmelink, #educationlink, #projectslink, #resumelink {
    color: gainsboro;
    font-family: B612;
}

.col {
    height: fit-content;
}

.row {
    width: 100%;
    height: 100%;
}

#aboutmecontent {
    display: flex;
    flex-direction: column;
    max-height: none;
}

#mypic {
    width: fit-content;
    margin: auto;
    opacity: 100%;
    border-radius: 100%;
}

.schoolimg {
    width: 100%; 
    height: auto;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 1px #091028;
    display: block;
}

.eduoverlay {
    z-index: 2; 
    position: absolute; 
    top: 70%; 
    margin-right: 200px;  
    left: 0; 
    right: 0; 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: auto; 
    height: 30%;  
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: height 0.3s linear,
                border-radius 0.3s ease-in-out,
                -webkit-transform 0.3s linear,
                -ms-transform 0.3s linear,
                transform 0.3s linear;
}

.hidden {
    visibility: hidden;
}

.edutext {
    opacity: 1;
    color: gainsboro !important;
    position: absolute;
    text-align: left;
}

.container:hover .eduoverlay{
    height: 100%;
    border-radius: 30px;
    overflow: auto;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

.container:hover .hidden {
    visibility: visible;
}

.eduoverlay::-webkit-scrollbar {
    display: none;
}

#content {
    z-index: 1;
    height: 50vh;
}

#heading {
    padding-left: 200px; 
    padding-top: 20px; 
    margin-bottom: 20px;
    font-family: B612;
}

h3, h4 {
    font-family: B612;
}

.projectimg {
    width: 100%;
    max-width: 100%;
    height: 50%;
    border-radius: 30px;
    background-color: #091028;
    opacity: 1 !important;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    opacity: 1 !important;
    color: gainsboro;
    box-shadow: 4px 4px 4px black;
}

.prjoverlay {
    z-index: 2;
    position: absolute;
    top: 70%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: auto; 
    height: 30%;  
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: height 0.3s linear,
                border-radius 0.3s ease-in-out,
                -webkit-transform 0.3s linear,
                -ms-transform 0.3s linear,
                transform 0.3s linear;
}

.prjtext {
    opacity: 1 !important;
    color: gainsboro;
    position: absolute;
}

.prjcard {
    border-radius: 30px;
    box-shadow: 4px 4px 3px 1px #091028;
}

.prjcard:hover .prjoverlay {
    height: 100%;
    border-radius: 30px;
    overflow: auto;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

.prjhidden {
    visibility: hidden;
}

.prjcard:hover .prjhidden {
    visibility: visible;
}

.prjoverlay::-webkit-scrollbar {
    display: none;
}

.prjcontent::-webkit-scrollbar {
    display: none;
}

.prjcontent {
    -ms-overflow-style: none;
    scrollbar-width: none;
}